body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:661px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:5px;
  width:293px;
  height:525px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:525px;
}
#u1 {
  position:absolute;
  left:2px;
  top:254px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:7px;
  width:290px;
  height:522px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:522px;
}
#u3 {
  position:absolute;
  left:2px;
  top:253px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:64px;
  top:67px;
  width:280px;
  height:410px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:410px;
}
#u5 {
  position:absolute;
  left:2px;
  top:197px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:140px;
  top:26px;
  width:131px;
  height:7px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:7px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-4px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:140px;
  top:497px;
  width:131px;
  height:7px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:7px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-4px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:64px;
  top:66px;
  width:280px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:72px;
  width:78px;
  height:13px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:13px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:90px;
  width:201px;
  height:90px;
  font-size:14px;
  color:#5E5E5E;
}
#u14_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:207px;
  height:96px;
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:2px;
  top:37px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:64px;
  top:90px;
  width:280px;
  height:387px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:387px;
}
#u17 {
  position:absolute;
  left:2px;
  top:186px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:368px;
  top:3px;
  width:293px;
  height:525px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:525px;
}
#u19 {
  position:absolute;
  left:2px;
  top:254px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:370px;
  top:5px;
  width:290px;
  height:522px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:522px;
}
#u21 {
  position:absolute;
  left:2px;
  top:253px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:374px;
  top:65px;
  width:280px;
  height:410px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:410px;
}
#u23 {
  position:absolute;
  left:2px;
  top:197px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:450px;
  top:24px;
  width:131px;
  height:7px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:7px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-4px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:450px;
  top:495px;
  width:131px;
  height:7px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:7px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-4px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:374px;
  top:64px;
  width:280px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:570px;
  top:70px;
  width:78px;
  height:13px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:13px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-2px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:380px;
  top:88px;
  width:201px;
  height:90px;
  font-size:14px;
  color:#5E5E5E;
}
#u32_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:207px;
  height:96px;
}
#u32_img.mouseDown {
}
#u32.mouseDown {
}
#u33 {
  position:absolute;
  left:2px;
  top:37px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:374px;
  top:88px;
  width:280px;
  height:387px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:387px;
}
#u35 {
  position:absolute;
  left:2px;
  top:186px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:70px;
  top:98px;
  width:27px;
  height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u37 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:380px;
  top:94px;
  width:27px;
  height:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u39 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:448px;
  top:320px;
  width:131px;
  height:100px;
  font-size:14px;
  color:#5E5E5E;
}
#u40_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:137px;
  height:106px;
}
#u40_img.mouseDown {
}
#u40.mouseDown {
}
#u41 {
  position:absolute;
  left:2px;
  top:42px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
